@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    background-color: rgb(233,235,238);
}
*:focus {
   outline: none;
}
.padding-reset{
    padding: 0;
}
.bg-blue{
    background-color: rgb(66,103,178);
}
.navbar a{
    color: white;
    font-size: 19px;
    font-weight: 500;
}
.navbar .username{
    color: rgb(1,17,55);

}
/*Profile creation form*/
.profile-form-container {
    padding-bottom: 10px;
    width: 500px;
    text-align: center;
    background-color: white;
    margin: 10px auto;
    border-radius: 4px;
    border: 1px solid rgba(110, 112, 115, 0.25);
}
.profile-form-container .profile-form-title{
    padding: 5px;
    font-size: 14px;
    font-weight: 700;
    text-align: left;
    background-color: rgb(245,246,247);
    border-bottom: 1px inset rgb(233,235,238);
    margin-bottom: 5px;
}
.profile-form-container  .profile-form{
    margin: 0px 10px
}
.profile-form-container  .profile-form input, textarea{
    outline: none;
	-moz-appearance: none;
	border: white;
    border-bottom: 1px inset rgb(233,235,238);
    width: 100%;
    background-color: white;
}
.profile-form-container .profile-form #saveButton{
    font-size: 14px;
    padding: 2px 0px;
    background-color: rgb(156,180,216);
    color: white;
    border-radius: 3px;
}
.profile-form-container .profile-form #saveButton:hover{
    background-color: rgb(66,103,178);
}
.profile-form-container .profile-form label,
.profile-form-container .profile-form #id_image{
    display: none;
}
.profile-form-container .profile-form .label_profession{
    display: block;
}
.profile-form-container .profile-form #id_profession{
    float: right;
}
.profile-form-container .profile-form .label_img{
    float: left;
}
.profile-form-container .profile-form .label_img,
.profile-form-container .profile-form #id_profession{
    display: block;
    width: 170px;
    border-radius: 7px;
    margin-bottom: 7px;
    padding: 0px 10px;
    background-color: rgb(245,246,247);
    height: 27px;
    line-height: 27px;
    border: none;
}
.profile-form-container .profile-form .label_img:hover{
    cursor: pointer;
}
.profile-form-container  .profile-form .error{
    color: crimson;
}
.profile-form-container  .profile-form .success{
    color: forestgreen;
}
/*List of profiles*/
.profile-preview-block{
    border: 1px solid rgba(110, 112, 115, 0.25);
    background-color: white;
    width: 500px;
    margin: 7px 0px;
    border-radius: 4px;
    padding-top: 5px;
}
.profile-preview-block .profile-preview-txt{
    padding: 0px 10px;
    text-align: justify;
}
.profile-preview-block .author, .profile-detail-container .author{
    font-weight: 700;
    color: rgb(66,103,178);
}
.profile-detail-container .author{
    padding-bottom: 5px;
}
.profile-detail-container .profile-info span{
    font-weight: 700;
}
.profile-looks-header{
    color: white;
    text-align: center;
    font-size: 18px;
}
#image-clear_id{
    display: none;
}
.profile-preview-block .profile-picture{
    border-top: 1px outset rgba(233,235,238,0.7);
    border-bottom: 1px inset rgba(233,235,238,0.7);
    width: 100%;
    height: auto;
    margin-top: 5px;
}
.step-links{
    width: 500px;
    margin: 10px auto;
    text-align: center;
}
/* Profile detail */
.profile-detail-container img, p{
    max-width: 1120px;
}
.profile-detail-container .p_img{
    text-align: center;
}
.profile-detail-container .profile-detail-content{
    background-color: white;
    padding: 10px 10px;
    border-radius: 4px;
    margin: 15px 0px;
}
.profile-detail-container .profile-detail-content img{
    margin-bottom: 10px;
}
/* Login, Register */
.account-forms-container {
    text-align: center;
    padding-top: 35px;
}
.account-forms-container span{
    font-weight: 900;
    font-size: 27px;
}
.account-forms-container label{
    display: none;
}
.account-forms-container input{
    outline: none;
	-moz-appearance: none;
    border: 1px inset white;
    width: 100%;
    border-radius: 6px;
    background-color: rgb(233,235,238);
    font-size: 18px;
    padding-left: 3px;
    margin-top: 10px;
}
.account-forms-container .log-in-form, .account-forms-container .register-form{
    margin: 0 auto;
    width: 200px;
    padding-bottom: 35px;
}
.account-forms-container #log-in-button, .account-forms-container #sign-up-button{
    border: 1px outset black;
    color: white;
    font-weight: 700;
    padding: 2px 0px;
}
.account-forms-container #log-in-button{
    background-color: rgb(66,103,178);
}
.account-forms-container #sign-up-button{
    background-color: rgb(91,145,71);
}
/*----------------- Referrals -----------------*/
.invite-block .invite-text{
    resize: none;
}