{% extends "base.html" %}



{% block content %}
        <div class="container account-forms-container">
          <div class="row justify-content-center">
                {% if not user.is_authenticated %}
                  <div class="col-auto">
                        <span>Already have an Account?</span>
                      <form class='log-in-form ' method='POST' autocomplete="off">
                          {% csrf_token %}
                          {{ log_in_form|safe }}
                          <input type='submit' id="log-in-button" value="Log in">
                      </form>
                  </div>
                {% endif %}
            </div>
        </div>

{% endblock content %}
