{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">

    <div class="row">
        <div class="col-12 ">
            <div class="profile-form-container">
                <div class="profile-form-title">
                    <span>Update your profile</span>
                </div>
                <form class='profile-form ' method='POST' enctype='multipart/form-data'>
                    {% csrf_token %}
                    {{form.bio}}
                    <label class="label_img" for="id_image">Add photos</label>
                    {{form.image}}
                    {{form.profession}}
                    <input type='submit' id="saveButton" value="Update profile">
                </form>

            </div>
        </div>
    </div>

    <div class="profile-looks-header"><p>Your profile looks like:</p></div>
    {% include 'profile_component.html' %}

</div>

{% endblock content %}