<div class="profile-detail-container">
    <div class="row justify-content-center">
        <div class='col-auto padding-reset  profile-detail-content'>
            <div class="row justify-content-start profile-preview-txt">
              <div class="col-auto author">{{ profile.user.username }}</div>
            </div>
                <p class="p_img"><img src='http://127.0.0.1:8000/media/{{ profile.avatar }}' class='img-responsive'/></p>
                <hr>
            {% for img in images %}
                <p class="p_img"><img src='http://127.0.0.1:8000/media/{{ img.image }}' class='img-responsive'/></p>
                <hr>
            {% endfor %}

        <div class="row justify-content-start profile-info">
            {% if  instance.profession %}
                <div class="col-12"><span>Profession:</span> {{ instance.profession }}</div>
            {% endif %}
            {% if  instance.bio %}
                <div class="col-12 "><p><span>About me:</span> {{ instance.bio|linebreaks }}</p></div>
            {% endif %}
        </div>
        </div>
    </div>
</div>

